<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmy2yWe2DG3gitY5iVQjUse82KF8QMQnc</string>
	<key>GCM_SENDER_ID</key>
	<string>157219186526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alhikmahScheduleLecturer</string>
	<key>PROJECT_ID</key>
	<string>lecture-reminder-5a40b</string>
	<key>STORAGE_BUCKET</key>
	<string>lecture-reminder-5a40b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157219186526:ios:52ce4726596d63142e91cf</string>
</dict>
</plist>